.parent {                    /* This is the Flex Container */
    padding :25px;
    background-color: blanchedalmond;

    display: flex; 
  
    justify-content: space-between;
    /* gap: 20px; */                 /*Gap is not noticeable here since childs are not next to each other */


    height: 350px;        

    /* align-items: stretch; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    align-items: center;
}

.child {               /* This are the Flex Items */
    border: 2px solid rgb(15, 158, 160);
    background: rgb(178, 228, 229);
    padding: 20px;
    font-size: 28px;
    margin: 10px 0px;

}